@import 'tailwindcss';

/* Telegram Theme Support */
.bg-tg {
  background-color: var(--tg-bg-color);
}

.text-tg {
  color: var(--tg-text-color);
}

.text-hint {
  color: var(--tg-hint-color);
}

.text-link {
  color: var(--tg-link-color);
}

.bg-button {
  background-color: var(--tg-button-color);
}

.text-button {
  color: var(--tg-button-text-color);
}

.text-destructive {
  color: var(--tg-destructive-text-color);
}

.text-main {
  color: #000;
}

.text-hint {
  color: #707579;
}

.rg-text {
  color: #a2acb0;
}

.bg-main {
  background-color: #fff;
}

.btn-primary {
  background-color: #007aff;
  color: #fff;
}

.btn {
  color: #007aff;
  background-color: #edf2ff;
}

.bg-form {
  background-color: #f5f5f5;
}

.border-tint {
  border-color: #c8d4d9;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

.scrollbar-none {
  scrollbar-width: none;
}

html,
body {
  overflow: hidden;
  height: 100%;
}
